body {
    display: flex;
    justify-content: center;
}

h2, h4 {
    color: #000;
}

.detector {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #000;
}

.balance {
    width: min-content;
    text-align: center;
}

.balanceDiv {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.balanceDiv input, .balanceDiv h4 {
    margin-left: 10px;
}

.btnMedio {
    display: flex;
    justify-content: center;
}

.botonesColor {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    background-color: #FF7F00;
    cursor: pointer;
}

.hover {
    animation: botonesAnim 0.5s;
    background-color: #007BFF;
}

@keyframes botonesAnim {
    0% {
        background-color: #FF7F00;
    }
    100% {
        background-color: #007BFF;
    }
}

.active {
    background-color: #007BFF;
}

.textos {
    width: 200px;
}
